<nav class="nav-container">
    <ul class="nav-list">
        <li class="nav-item"><a href="/home">HOME</a></li>
        <li class="nav-item"><a href="/index">PLAY GAME</a></li>
        <li class="nav-item"><a href="/share">SHARE</a></li>
        <link rel="stylesheet" href="/styles.css">
        <link rel="icon" href="/images">
        <script src="/js/slideshow.js"></script>
        <script src="/js/script.js"></script>
        <script src="/js/pieces.js"></script>
    </ul>
</nav>