<footer>
    <p style="margin: 0;">&copy; 2024 TetraDash. All Rights Reserved.</p>
    <div class="social-media">
        <a href="https://www.facebook.com/Tetris" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/Tetris" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.youtube.com/results?search_query=tetris" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <link rel="stylesheet" href="/userfooter.css">
        
        <script src="/js/slideshow.js"></script>
        <script src="/js/script.js"></script>
        <script src="/js/pieces.js"></script>
    </div>
</footer>