<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <h1 id="home"><img src="images/logo1.png" alt="this is the logo" ></h1>
  
  <%- include('./partials/nav.ejs') %>
  

  <div class="container">
    <h1>Our Project Overview</h1>
    <br><br><br>
    <img src="images/screenshot2.png" alt="Our project" class="float-right">

    <p class="justify">Greetings! We are <a href="https://github.com/MichaelT9?tab=repositories" class="styled-link" target="_blank">Michael Trajkovski</a> and <a href="https://github.com/Stevica123" class="styled-link" target="_blank">Stefan Ristevski</a> , and we are thrilled to present our collaborative project, an ambitious endeavor that combines our passion for web programming with our love for classic games. Our primary objective was to create a responsive web application named TetraDash💨, a modern take on the timeless game Tetris, utilizing the powerful MEAN stack architecture.</p>
    <p class="justify">The development of TetraDash💨 was a comprehensive process that involved several key technologies. We employed MongoDB as our database solution, ensuring efficient data management and storage. Express.js served as our backend framework, providing a robust and flexible foundation for our server-side logic. Node.js was our choice for the server-side runtime environment, offering a scalable and high-performance execution environment. For the frontend, we chose Angular, leveraging its component-based architecture to build a dynamic and responsive user interface.</p>
    <p class="justify">Throughout this project, we dedicated a significant amount of time and effort, facing and overcoming numerous challenges along the way. Our journey was marked by intense collaboration, constant learning, and unwavering perseverance. From debugging complex issues to optimizing performance, each obstacle we encountered was an opportunity to enhance our skills and deepen our understanding of full-stack development.</p>
    <p class="justify">Despite the hurdles, our commitment never wavered. We meticulously planned and executed each phase of the project, from initial design to final deployment. Our hard work and determination paid off as we successfully brought TetraDash💨 to life. The result is a fully functional and engaging web application that not only meets but exceeds our initial expectations.</p>

    <br><br><br>
    <h1>Buidling a community</h1>
    <br><br><br>
    <p class="justify">At our gaming community, fostering open communication is key to creating a vibrant and inclusive environment. We've dedicated a share page where players can provide valuable feedback, suggestions, and ideas to help shape and improve our community. Your input plays a crucial role in enhancing our gaming experience and strengthening our community bonds. Together, we strive to build a community where every voice is heard, ensuring that our platform continues to evolve and meet the needs of all our players. Join us in shaping the future of gaming and creating memorable experiences together!</p>


    <br><br><br>
    <h1>The Legacy of Tetris: Our Inspiration</h1>
    <br><br><br>

    <img src="images/screenshot.png" alt="Our project" class="float-left">
    <p class="justify"><a href="https://www.google.com/search?q=what+is+tetris&sca_esv=3f34b2bd337bbe02&sca_upv=1&biw=1536&bih=738&ei=y2ZwZquNM6uB9u8P-eOqsAs&ved=0ahUKEwjrnq_kieOGAxWrgP0HHfmxCrYQ4dUDCBA&uact=5&oq=what+is+tet&gs_lp=Egxnd3Mtd2l6LXNlcnAiC3doYXQgaXMgdGV0MgsQABiABBiRAhiKBTIFEAAYgAQyBRAAGIAEMgUQABiABDILEAAYgAQYkQIYigUyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABEiTWlDIAljVOHAFeACQAQKYAcMBoAGDF6oBBDAuMjG4AQPIAQD4AQGYAhagAtcTqAIKwgIKEAAYsAMY1gQYR8ICDRAAGIAEGLADGEMYigXCAhMQLhiABBiwAxhDGMgDGIoF2AEBwgIWEC4YgAQYsAMYQxjUAhjIAxiKBdgBAcICChAAGIAEGEMYigXCAgoQLhiABBhDGIoFwgIFEC4YgATCAhkQLhiABBhDGIoFGJcFGNwEGN4EGOAE2AECwgILEC4YgAQYxwEYrwHCAhMQABiABBhDGLQCGIoFGOoC2AEDwgITEC4YgAQYQxi0AhiKBRjqAtgBA8ICFhAuGIAEGEMY1AIYtAIYigUY6gLYAQPCAgsQLhiABBjRAxjHAcICDRAAGIAEGEMYyQMYigXCAgsQABiABBiSAxiKBcICCBAuGIAEGNQCwgIKEAAYgAQYyQMYCsICBxAAGIAEGAqYAwiIBgGQBhS6BgYIARABGAi6BgYIAhABGBS6BgQIAxgHkgcENS4xN6AH2dkB&sclient=gws-wiz-serp" class="styled-link" target="_blank">Tetris</a>, one of the most iconic video games of all time, was created by Alexey Pajitnov, a Russian software engineer, in 1984. The game was born out of Pajitnov's love for puzzles and his desire to create an engaging yet simple game. Working at the Dorodnitsyn Computing Centre of the Soviet Academy of Sciences in Moscow, he developed Tetris on an Electronika 60 computer. The game's name is a combination of "tetromino" (the geometric shapes composed of four squares) and "tennis," Pajitnov's favorite sport. Tetris quickly gained popularity within the Soviet Union and soon captured the attention of the world. By the late 1980s, it had become a global phenomenon, especially after its release on the Nintendo Game Boy in 1989, which cemented its place in gaming history.</p>
    <p class="justify">The legacy of Tetris extends beyond its addictive gameplay, serving as a profound source of inspiration for our web application, TetraDash💨. Tetris is celebrated not only for its simple yet challenging mechanics but also for its significant impact on the gaming industry and popular culture. The game's enduring appeal across multiple generations and platforms highlights its timeless nature. Tetris has influenced countless other games and has even been used in psychological studies to understand cognitive processes and assist in treating conditions like PTSD and addiction. Holding several Guinness World Records, including "Most Ported Video Game" and "Best-Selling Game on Early Generation Mobile Phones," Tetris's influence is undeniable. Inspired by this classic, we aim to capture the same spirit of innovation and enjoyment in TetraDash💨, bringing a fresh yet familiar experience to modern audiences.</p>

    <br><br><br>
    <h1>Conclusion to our project</h1>
    <br><br><br>
    <p class="justify">As we conclude our journey with TetraDash💨, we're humbled by the opportunity to pay tribute to Tetris, a game that has defined generations of gamers. It's more than nostalgia; it's a testament to the power of gameplay to inspire, entertain, and bring people together. With TetraDash💨, we hope to capture the essence of Tetris while forging our own path in the world of gaming, fueled by passion and driven by the belief that games can make a meaningful difference. Hope you like it ;).</p>

    <div class="slideshow-container">
      <div class="mySlides fade">
        <img src="images/screenshot.png" style="width:100%">
      </div>
  
      <div class="mySlides fade">
        <img src="images/screenshot2.png" style="width:100%">
      </div>
  
      <div class="mySlides fade">
        <img src="images/screenshot3.png" style="width:100%">
      </div>

      <div class="mySlides fade">
        <img src="images/screenshot4.png" style="width:100%">
      </div>

      <div class="mySlides fade">
        <img src="images/classic-tetris.png" style="width:100%">
      </div>

      <div class="mySlides fade">
        <img src="images/logo1.png" style="width:100%">
      </div>
    
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <p style="text-align: right;">Authors:</p>
    <p style="text-align: right;"><a href="https://github.com/MichaelT9?tab=repositories" class="styled-link" target="_blank">Michael Trajkovski</a></p>
    <p style="text-align: right;"><a href="https://github.com/Stevica123" class="styled-link" target="_blank">Stefan Ristevski</a></p>
  </div>

  
  <%- include('./partials/footer.ejs') %>

<script src="slideshow.js"></script>

</body>
</html>