<!DOCTYPE html>
<html lang="en">
        <%- include('./partials/head.ejs') %>
<body>
        <a href="index.html">
        <h1 id="home">🎮       TetraDash💨       🎮</h1>
        </a>
        
        <%- include('./partials/nav.ejs') %>
    
        
        <main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.2/p5.min.js"></script>
        <script src="pieces.js"></script>
        <script src="script.js"></script>

        </main>

        <%- include('./partials/footer.ejs') %>
</body>
</html>